@tailwind base;
@tailwind components;
@tailwind utilities;

$swdc-path-fonts: '../node_modules/@prism/dropcloth/src/resources/fonts/';
$swdc-path-iconfont: '../node_modules/@prism/dropcloth/src/resources/iconfont/';

// Dropcloth application to use mixins, variables, and functions
@import '@prism/dropcloth/src/styles/dropcloth-application.scss';

// Base Dropcloth CSS
@import '@prism/dropcloth/dist/styles/dropcloth-toolkit.css';
@import '@prism/dropcloth/dist/styles/dropcloth-iconfont.css';

// Fonts
@include swdc-set-fontface-dropcloth();
@include swdc-set-fontface-iconfont();

:root {
  font-family: var(--swdc-text-family-brand);
  color: var(--swdc-color-dark-foreground-on-surface);
  background-color: #f6f6f6;
}

h3 {
  letter-spacing: 1.5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#root {
  width: 100%;
}

.swdc-overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.has-large-radio .swdc-radio {
  width: 35px !important;
  height: 35px !important;

  &::before {
    width: 35px !important;
    height: 35px !important;
  }

  &::after {
    width: 25px !important;
    height: 25px !important;
  }
}

@media (min-width: 768px) {
  .has-large-radio .swdc-radio {

    &::before {
      width: 20px !important;
      height: 20px !important;
    }

    &::after {
      width: 14px !important;
      height: 14px !important;
    }
  }
}